.container {
	max-width: 1200px;
	margin:auto;
	padding: 2rem;
}

.grid{ 
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	gap: 2rem;
	margin: 4rem 0;
}

body{font-family: system-ui;}
*{font-weight: 300;}
h1{text-align: center;}


.card {
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(36, 102, 173);
border-radius: 0.5rem;
padding: 2.5rem 1.5rem;
font-size: 1.8rem;
/* font-weight: 600; */
text-decoration: none;
color: rgb(0, 0, 0);
}
.menu {
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(115, 194, 234);
border-radius: 0.5rem;
padding: 0.5rem 1.5rem;
font-size: 1.2rem;
font-weight: 600;
text-decoration: none;
color: rgb(235, 241, 241);


}